{%extends 'layout.html'%}

{%block content%}

<div class="auth">
    <div class="auth-label"><h1>Login</h1></div>
    <form method="post">

        {%csrf_token%}
        
        {%for f in form%}
            <div class="form-group"><lable class="form-label" for="{{f.id_for_label}}">{{f.label}}:</lable>{{f}}</div>
        {%endfor%}
        <button class="submit-button" type="submit">Sing In</button>

        <p class="account">Don't have an account? <a href="{% url 'sing_up' %}">Register</a></p>

    </form>

</div>

{%endblock%}