{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{%static 'layout.css'%}">
    <title>{{title}}</title>
</head>

<body>
<header>
    <nav id="navigation">
        <div class="container">
            <a href="{%url 'main'%}" class="navigation-title">{{title}}</a>
            <div class="navigation-wrap">
                <ul class="navigation-menu">
                    <li><a href="{%url 'test'%}">link</a></li>
                    <li><a href="{%url 'test'%}">link</a></li>
                    <li><a href="{%url 'test'%}">link</a></li>
                </ul>
                {%block authentication%}{%endblock%}
            </div>
        </div>
    </nav>
</header>
<div id="main-div">
</div>
</body>

</html>