.auth-wrapper {
    position: absolute;
    width: 500px;
    height: 600px;
    left: calc(50% - 500px/2);
    top: calc(50% - 600px/2);
    
    background: #FFFAF5;
    border-radius: 20px;
}

.auth-header {
    height: 150px;
    top: calc(50% - 150px/2 - 225px);
    border-bottom: 10px solid #BAD3D9;
    border-radius: 20px 20px 0px 0px;
}

.auth-header-title {
    position: absolute;
    width: 150px;
    height: 55px;
    left: calc(50% - 150px/2);
    top: calc(50% - 55px/2 - 224.5px);

    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #8C7A6B;

    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
}

.auth-footer {
    text-align: left;
    position: absolute;
    bottom:0;
    margin-left: 38px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 44px;
	width: 235px;
    color: #8C7A6B;
}

.auth-footer a {
    text-decoration: none;
    color: #5D848C;
}

.auth-content {
    margin: 70px 75px;
}

.auth-form-group {
    text-align: left;
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-bottom: 30px;
}

.auth-form-label {
    font-size: 30px;
    color: #5D848C;
}

.form-input {
    height: 50px;
    width: 350px;
    background: #D9C9BA;
    border: 5px solid #BAD3D9;
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    color: #8C7A6B;
}

.submit-button {
    border: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 119px;
    height: 40px;
    background: #D9C9BA;
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    color: #8C7A6B;
    transition: all .5s ease;
}

.submit-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}