html, body {
    font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: black;
    background: white;
    display: fixed;
}

header {
    display:inline-block;
    width: 99%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 10px;
}


#navigation {
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

#navigation .container {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrap{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
}

.navigation-title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    color: white;
    transition: all .5s ease;
}

.navigation-title:hover {
    color: #528073;
    text-shadow: 0 0 10px rgba(82, 128, 115, 1);
}

.navigation-menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.navigation-menu li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.navigation-menu li p {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all .5s ease;
    margin: 0;
}


.navigation-menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all .5s ease;
}

.navigation-aunth, #button-cancel, #button-sumbit {
    display: flex;
    align-items: center;
    background-color: #528073;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all .5s ease;
}

#button-sumbit:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(46, 133, 51, 1);
    background-color: #2e8533;
}

#button-cancel:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(136, 49, 49);
    background-color: #883131;

}
.navigation-aunth:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(82, 128, 115, 1);
}

.navigation-menu li a:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: #528073;
    text-shadow: 0 0 15px rgba(82, 128, 115, 1);
}

#main-div {
    color: black;
    display: fixed;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    height: 71.5%;
    border-radius: 10px;
    background-color:#528073;
    padding: 5%;
}