html, body {
    font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: white;
}

header {
    width: 100%;
}


#navigation {
    width: 100%;
    height: 10%;
    background-color: black;
}

#navigation .container {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrap{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 20px;
    margin-left: 20px;
}

.navigation-title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    color: white;
    transition: all .5s ease;
}

.navigation-title:hover {
    color: #D34B81;
    text-shadow: 0 0 10px rgba(209, 102, 236, 1);
}

.navigation-menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.navigation-menu li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.navigation-menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all .5s ease;
}

.navigation-aunth {
    display: flex;
    align-items: center;
    background-color: #D34B81;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all .5s ease;
}

.navigation-aunth:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(211, 75, 129, 1);
}

.navigation-menu li:hover, .navigation-menu li a:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: #D34B81;
    text-shadow: 0 0 15px rgba(209, 102, 236, 1);
}