{%extends 'layout.html'%}

{%block content%}

<div class="auth">
    <div class="auth-label"><h1>Authorization</h1></div>
    <form method="post">

        {%csrf_token%}
        
        {%for f in form%}
            <div class="form-group"><lable class="form-label" for="{{f.id_for_label}}">{{f.label}}:</lable>{{f}}</div>
        {%endfor%}

        <button class="submit-button" type="submit">Sing In</button>

        <div class="form-error">{{form.non_field_errors}}</div>

    </form>

</div>

{%endblock%}